header {
    text-align: center;
    padding-bottom: 1em;
}

header ul{
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
}

header li{
    flex-basis:25%;
    list-style: none;
    flex-grow: 0;
}

footer p img {
  vertical-align: middle;
}

aside{  
  margin-left:auto;
  
}


main>ul{
  display:flex;
  flex-wrap:wrap;
  flex-basis:75%;
  flex-grow: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
}

h2{
  flex-basis:60%;
}

.recette{
  flex-basis:45%;
  flex-grow: 1;
}
