header{
    background-color: grey;
}
header ul {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    margin-top: -1em
}
header ul li{
    margin-right: 17%
}
header h1{
    text-align: center;
}
header>nav{
    margin-left: 10%;
    text-align: center
    
}

nav>ul>li>section>img{
    width:10em 
}

main>nav>ul{
    display: flex;
    list-style-type: none;
    margin-left: 0%
}

main>div>img{
    width: 50%;
    margin-left:25%
}

li{
    width: 20%;
 
    margin-left: 4%;
    text-align: center;
    
        
      
        
}  
main>nav{
    margin-left: 23%;
    width: 60%;
}

    
  footer{
    display: flex;
    background-color: grey;
    flex-wrap: nowrap
}
footer>p>img{
    width: 1rem
}
