h1,h2,h3,h4{
    color:darkblue;
}

header{
    background-color: lightgrey;
}

main>ul>li{
    background-color:lightblue;
    list-style-type: none;
    
}

.recette{
    margin:15px;
    padding:15px;
}

footer{
    background-color: lightgrey;
}

footer img{
    width:2rem;
    margin:10px;
}

aside>img{
    width: 15em;
}    

main>ul{
    padding-left: 0
}

section>ul>li{
    list-style-type: square;
}


